body {
    background-color: rgb(22, 22, 22);
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
  }
body * {
    margin-top: 0px;
  }
header nav {
    text-align: center;
  }
footer {
    text-align: center;
  }
[href] {
    color: rgb(0, 166, 84);
  }
main {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
/* ### CLASES ### */
.tarjeta-titulo,
h1,
h2 {
    color: rgb(220, 30, 30);
    text-align: center;
  }
.tarjeta {
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    margin-bottom: 3px;
    padding: 10px;
  }
.tarjeta-subtitulo {
    color: rgb(3, 111, 182);
  }
.tarjeta-parrafo {
    text-align: justify;
  }
.galeria-imagen {
    margin: 20px auto 20px;
  }
picture source + img {
    border-radius: 10px;
    width: 144px;
  }
.galeria-video video {
    width: 480px;
  }
.galeria-imagen,
.galeria-video,
.galeria-audio {
    text-align: center;
  }
table,
td {
    border: 1px solid rgb(220, 30, 30);
  }
caption {
    font-size: 2rem;
  }
